@for (toast of toastService.toasts; track $index) {
<div class="fixed top-5 left-1/2 transform -translate-x-1/2 p-4 rounded-lg shadow-lg text-white" [ngClass]="{
    'bg-green-600': toast.class === 'success',
    'bg-red-600': toast.class === 'error'
    }">
    <div class="flex items-center">
        <div class="mr-3">
            @if (toast.class === 'success') {
            <i class="fas fa-check-circle"></i>
            }
            @if (toast.class === 'error') {
            <i class="fas fa-exclamation-circle"></i>
            }
        </div>
        <div>
            {{ toast.message }}
        </div>
    </div>
</div>
}