@if (isLoading()) {
<div class="container mx-auto mt-8">
    <h1 class="text-2xl font-bold">Loading...</h1>
    <p class="mt-2">Please wait while we fetch the note.</p>
</div>
} @else if (error()) {
<div class="container mx-auto mt-8">
    <h1 class="text-2xl font-bold">Error</h1>
    <p class="mt-2">{{ error() }}</p>
</div>
} @else{
@if (note) {
<div class="container mx-auto mt-8">
    <h1 class="text-2xl font-bold">{{ note.title }}</h1>
    <p class="mt-2 text-gray-500">{{ note.createdAt | date: 'medium' }}</p>
    <p class="mt-4">{{ note.content }}</p>
    <div class="mt-4">
        <button class="bg-blue-500 text-white px-4 py-2 rounded mr-2" (click)="editNote()">Edit</button>
        <button class="bg-red-500 text-white px-4 py-2 rounded" (click)="showDeleteConfirm(note._id)">Delete</button>
    </div>
</div>
} @else {
<div class="container mx-auto mt-8">
    <h1 class="text-2xl font-bold">No note found</h1>
    <p class="mt-2">The note you are looking for does not exist.</p>
</div>
}
}


@if (showConfirmDialog()) {
<div class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full">
    <div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
        <div class="mt-3 text-center">
            <h3 class="text-lg leading-6 font-medium text-gray-900">Confirm Delete</h3>
            <div class="mt-2 px-7 py-3">
                <p class="text-sm text-gray-500">Are you sure you want to delete this note? This action cannot be
                    undone.</p>
            </div>
            <div class="items-center px-4 py-3">
                <button id="delete-cancel" class="px-4 py-2 bg-gray-200 text-black rounded-md mr-2"
                    (click)="showConfirmDialog.set(false)">Cancel</button>
                <button id="delete-confirm" class="px-4 py-2 bg-red-600 text-white rounded-md"
                    (click)="deleteNote(selectedNoteId())">Delete</button>
            </div>
        </div>
    </div>
</div>
}